html {
    margin: 0;
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
  }
  
  .texto1 {
    text-align: center;
    font-size: 2rem;
    padding-top: 10%;
  }
  
  img {
    width: 13rem;
  }


  /* Estiliza o rodapé */

  footer {
    background-color: #01060b; /* Cor de fundo do rodapé */
    color: #b7c2d7; /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    padding: 0; /* Espaçamento interno */
    width: 100%; /* Largura total da página */
    position: fixed; /* Posiciona o rodapé */
    bottom: 0; /* Alinha ao fundo da página */
    bottom: 0;
    font-size: 1rem; /* Tamanho da fonte */
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    flex-direction: column;
  }


  /* Estiliza informação */

  .informaçãopg {
    text-align: center;
    font-size: 0.9rem;
    padding-top: 7rem;
    font-style: italic;
    color: #0b1c2c;
  }